<table>
  <tr>
    <% @composition.results.granularity_unique_members.each do |member| %>
      <% colspan = @composition.metrics.size * (@composition.comparisons.reduce(0) { |sum, c| sum + c.lookback } + 1) %>
      <td <%= html_attributes(colspan: colspan) %>><%= granularity_label(@composition, member) %></td>
    <% end %>
  </tr>

  <% if @composition.metrics.size > 1 %>
    <tr>
      <% @composition.results.granularity_unique_members.each do |_| %>
        <% @composition.metrics.each do |metric| %>
          <% colspan = @composition.comparisons.reduce(0) { |sum, c| sum + c.lookback } + 1 %>
          <td <%= html_attributes(colspan: colspan) %>><%= metric.metric %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>

  <% if @composition.comparisons.present? %>
    <tr>
      <% @composition.results.granularity_unique_members.each do |member| %>
        <% @composition.metrics.each do |metric| %>
          <% @composition.comparisons.each do |comparison| %>
            <% comparison.lookback.times do |i| %>
              <%# if +comparison.lookback+ is 3, +lookback+ should be -3, -2, %>
              <%# and -1 for the loops. So when i=0, lookback=-3, and i=1 l=-2 %>
              <% lookback = -(comparison.lookback - i) %>

              <td><%= comparison.period %> <%= lookback %></td>
            <% end %>
          <% end %>

          <td>👇</td>
        <% end %>
      <% end %>
    </tr>
  <% end %>

  <%# Results row, with a cell for each metric per time period, plus %>
  <%# additional cells for any comparion values for that cell %>
  <tr>
    <% @composition.results.granularity_unique_members.each do |member| %>
      <% @composition.metrics.each do |metric| %>
        <% @composition.comparisons.each do |comparison| %>
          <% comparison.lookback.times do |i| %>
            <%# if +comparison.lookback+ is 3, +lookback+ should be -3, -2, %>
            <%# and -1 for the loops. So when i=0, lookback=-3, and i=1 l=-2 %>
            <% lookback = -(comparison.lookback - i) %>
            <% value = @composition.results.get_value_comparison(comparison, lookback, metric, member, ) %>

            <td <%= html_attributes("data-raw-value": value) %>>
              <%= number_with_delimiter(value) %>
            </td>
          <% end %>
        <% end %>

        <% value = @composition.results.get_value(metric, member) %>

        <td <%= html_attributes("data-raw-value": value) %>>
          <%= number_with_delimiter(value) %>
        </td>
      <% end %>
    <% end %>
  </tr>
</table>
