<% idx = i - 1 %>

<%# Get the group instance – it may not exist! %>
<% group = @composition.try(:groups)&.values_at(idx)&.first %>

<fieldset
  <%= html_attributes(class: "field_with_errors") if group&.errors.present? %>
  data-data-explorer--composition-url-target="groupChooser">
  <legend>Group <%= i %></legend>

  <label <%= html_attributes(for: "group.#{i}") %>>Group By</label>
  <select class="dimension" <%= html_attributes(id: "group.#{i}", name: "group.#{i}") %>>
    <option value=""></option>

    <% DataSchema.dimensions.each do |dimension_name, dimension_def| %>
      <% dim_key = dimension_def["QueryKey"] || dimension_name %>
      <option
        data-dimension-type="<%= dimension_def["Type"] %>"
        <%= html_attributes(value: dim_key) %>
        <%= html_attributes(selected: "selected") if params["group.#{i}"] == dim_key %>>
        <%= dim_key %>
      </option>
    <% end %>
  </select>

  <div class="timestamp-options">
    <select class="mode-chooser" <%= html_attributes(name: "group.#{i}.timestamp-mode") %>>
      <option value="range">Range</option>
      <option value="truncate" <%= html_attributes(selected: "selected") if group&.truncate %>>Truncate</option>
      <option value="extract" <%= html_attributes(selected: "selected") if group&.extract %>>Extract</option>
    </select>

    <select class="extract-options" <%= html_attributes(name: "group.#{i}.extract") %>>
      <option></option>

      <% unless Compositions::Components::Group::EXTRACT_OPTS.include?(group&.extract) %>
        <option selected><%= group&.extract %></option>
      <% end %>

      <% Compositions::Components::Group::EXTRACT_OPTS.each do |part| %>
        <option <%= html_attributes(value: part) %> <%= html_attributes(selected: "selected") if group&.extract == part %>><%= part.to_s.humanize %></option>
      <% end %>
    </select>

    <select class="truncate-options" <%= html_attributes(name: "group.#{i}.truncate") %>>
      <option></option>

      <% unless Compositions::Components::Group::TRUNCATE_OPTS.include?(group&.truncate) %>
        <option selected><%= group&.truncate %></option>
      <% end %>

      <% Compositions::Components::Group::TRUNCATE_OPTS.each do |part| %>
        <option <%= html_attributes(value: part) %> <%= html_attributes(selected: "selected") if group&.truncate == part %>><%= part.to_s.humanize %></option>
      <% end %>
    </select>

    <div class="timestamp-ranges" data-controller="data-explorer--group-chooser">
      Ranges:
      <a href="#" data-action="data-explorer--group-chooser#addRange">Add range</a>

      <% indices = group&.indices %>

      <ul>
        <li>Less than: <input type="text" autocomplete="off" data-action="data-explorer--group-chooser#changeRangeIndex" <%= html_attributes(value: to_duration_shorthand(indices.first)) if indices.try(:first) %>></li>

        <% if indices && indices.size > 1 %>
          <% i = 0 %>
          <% while i < indices.size - 1 do %>
            <li>Greater Than Or Equal To: <input disabled <%= html_attributes(value: indices[i]) %>> and less than <input data-action="data-explorer--group-chooser#changeRangeIndex" <%= html_attributes(value: indices[i+1]) %>> <a href="#" data-action="data-explorer--group-chooser#removeRange">X</a></li>
            <% i += 1 %>
          <% end %>
        <% end %>

        <li>Greater than or equal to: <input type="text" disabled autocomplete="off" <%= html_attributes(value: indices.last) if indices.try(:last) %>></li>
      </ul>
    </div>
  </div>

  <div class="duration-options">
    <div class="duration-ranges" data-controller="data-explorer--group-chooser">
      Ranges:
      <a href="#" data-action="data-explorer--group-chooser#addRange">Add range</a>

      <% indices = group&.indices %>

      <ul>
        <li>Less than: <input type="text" autocomplete="off" data-action="data-explorer--group-chooser#changeRangeIndex" <%= html_attributes(value: to_duration_shorthand(indices.first)) if indices.try(:first) %>></li>

        <% if indices && indices.size > 1 %>
          <% i = 0 %>
          <% while i < indices.size - 1 do %>
            <li>Greater Than Or Equal To: <input disabled <%= html_attributes(value: to_duration_shorthand(indices[i])) %>> and less than <input data-action="data-explorer--group-chooser#changeRangeIndex" <%= html_attributes(value: to_duration_shorthand(indices[i+1])) %>> <a href="#" data-action="data-explorer--group-chooser#removeRange">X</a></li>
            <% i += 1 %>
          <% end %>
        <% end %>

        <li>Greater than or equal to: <input type="text" disabled autocomplete="off" <%= html_attributes(value: to_duration_shorthand(indices.last)) if indices.try(:last) %>></li>
      </ul>
    </div>
  </div>
</fieldset>
