<fieldset id="granularity">
  <legend>Time Series Options</legend>

  <select name="granularity" data-data-explorer--composition-url-target="granularity">
    <% Compositions::TimeSeriesComposition::GRANULARITY_OPTS.each do |g| %>
      <option <%= select_eq @composition.try(:granularity) == g %> value="<%= g %>">
        <%= g %>
      </option>
    <% end %>
  </select>

  <fieldset id="window">
    <%= form.label :window, "Window" %>
    <%= form.text_field :window, name: "window", placeholder: "10h, 48h, 1D, 5D, etc", value: to_duration_shorthand(@composition.try(:window)), data: {"data-explorer--composition-url-target": "granularityWindow"} %>
  </fieldset>
</fieldset>
