<table data-controller="data-explorer--results-table-highlight" data-data-explorer--results-table-highlight-target="table">
  <colgroup>
    <%# Group 1 member labels %>
    <col>

    <%# Group 2 member labels %>
    <col>

    <%# Granularity member labels %>
    <% @composition.results.granularity_unique_members.each do |granularity_member| %>
      <% num_metrics = @composition.metrics.size %>
      <% num_comparisons = @composition.comparisons.reduce(0) { |sum, c| sum + c.lookback } + 1 %>
      <% colspan = num_metrics * num_comparisons %>

      <col class="data" <%= html_attributes(span: colspan) %>>
    <% end %>
  </colgroup>

  <thead>
    <%= render "data_explorer/time_series/results/table/granularity_headers" %>

    <%= render "data_explorer/time_series/results/table/metric_headers" %>

    <% if @composition.comparisons.size > 0 %>
      <%= render "data_explorer/time_series/results/table/comparison_headers" %>
    <% end %>
  </thead>

  <tbody>
    <%= render "data_explorer/time_series/results/table/totals_row" %>

    <%= render "data_explorer/time_series/results/table/group_rows" %>

    <%= render "data_explorer/time_series/results/table/no_group_row" %>
  </tbody>
</table>
