<table data-data-explorer--results-table-highlight-target="table">
  <colgroup>
    <%# Group 1 member labels %>
    <col>

    <%# Group 2 member labels %>
    <col>

    <%# Granularity member labels %>
    <% @composition.results.granularity_unique_members.each do |granularity_member| %>
      <% num_metrics = @composition.metrics.size %>
      <% num_comparisons = @composition.comparisons.reduce(0) { |sum, c| sum + c.lookback } + 1 %>
      <% colspan = num_metrics * num_comparisons %>

      <col class="data" <%= html_attributes(span: colspan) %>>
    <% end %>
  </colgroup>

  <thead>
    <%= render "data_explorer/time_series/results/table/10_granularity_headers" %>

    <%= render "data_explorer/time_series/results/table/20_metric_headers" %>

    <% if @composition.comparisons.size > 0 %>
      <%= render "data_explorer/time_series/results/table/30_comparison_headers" %>
    <% end %>
  </thead>

  <tbody>
    <%= render "data_explorer/time_series/results/table/40_totals_row" %>

    <%= render "data_explorer/time_series/results/table/50_group_rows" %>

    <%= render "data_explorer/time_series/results/table/60_no_group_row" %>
  </tbody>
</table>
