<%
  g1 = @composition&.groups&.[](0)
  g2 = @composition&.groups&.[](1)
%>

<tr>
  <% if @tbl_show_group_1_headers %>
    <th scope="row">TOTAL</th>
  <% end %>

  <% @meta&.each do %>
    <td></td>
  <% end %>

  <% if @tbl_show_group_1_totals %>
    <% @composition.metrics.each do |metric| %>
      <%
        # If there are two groups, and they are both summable
        if (g1&.summable?(metric) && g2&.summable?(metric)) ||
            # Or there's one group and it's summable
            (!g2 && g1&.summable?(metric)) ||
            # If there's no groups, summing is irrelevant, but allow it anyway
            (!g1 && !g2)

          total = @composition.results.calc_sum(metric)

          text = number_with_delimiter(total)
          title = "Total #{metric.metric}: #{number_with_delimiter(total)}"
        else
          text = "n/a"
          title = "When grouping by #{schema_field_label g1&.dimension} and #{schema_field_label g2&.dimension}, a total for #{metric.metric} is not displayed. Adding up the #{metric.metric} value for each group does not yield a statistically meaningful number. You should avoid adding these numbers together yourself, as the result likely won't mean what you're expecting."
        end
      %>

      <td
        data-dx-metric="<%= metric.metric %>"
        class="totals"
        title="<%= title %>">

        <%= text %>
      </td>
    <% end %>
  <% end %>

  <% @display_group_2_member_descriptors.each do |group_2_member_descriptor| %>
    <% @composition.metrics.each do |metric| %>
      <%
        # If there are two groups, and they are both summable
        if (g1&.summable?(metric) && g2&.summable?(metric)) ||
            # Or there's one group and it's summable
            (!g2 && g1&.summable?(metric)) ||
            # If there's no groups, summing is irrelevant, but allow it anyway
            (!g1 && !g2)
          sum = @composition.results.calc_sum(metric, g2, group_2_member_descriptor)
          min = @composition.results.calc_min(metric, g2, group_2_member_descriptor)
          max = @composition.results.calc_max(metric, g2, group_2_member_descriptor)
          range = (max || 0) - (min || 0)
          mean = @composition.results.calc_arithmetic_mean(metric, g2, group_2_member_descriptor) || 0

          total_sum = @composition.results.calc_sum(metric)
          sum_as_percent = ((sum / total_sum.to_f) * 100).round(2)

          text = number_with_delimiter(sum)

          title = [
            "Total #{metric.metric} for #{member_label(@composition, g2, group_2_member_descriptor)} across all #{schema_field_label(g1&.dimension).pluralize}: #{sum}",
            "#{sum_as_percent}% of overall total",
            "Mean: #{number_with_delimiter(mean)}",
            "Min: #{number_with_delimiter(min)}",
            "Max: #{number_with_delimiter(max)}",
            "Range: #{number_with_delimiter(range)}"
          ].join("\n")
        else
          title = "When grouping by #{schema_field_label g1&.dimension}, a total for #{metric.metric} is not displayed. Adding up the #{metric.metric} value for each group does not yield a statistically meaningful number. You should avoid adding these numbers together yourself, as the result likely won't mean what you're expecting."
          text = "n/a"
        end
      %>

      <td
        data-dx-group-2-member-descriptor="<%= group_2_member_descriptor || "__nil__" %>"
        data-dx-metric="<%= metric.metric %>"
        data-dx-agg-point-sum="<%= sum %>"
        class="totals"
        title="<%= title %>">

        <%= text %>
      </td>
    <% end %>
  <% end %>
</tr>
