<tr>
  <%# First cell in the row is a header with the group member name %>
  <%= group_table_header_tag(@composition, @composition.groups[0], group_1_member_descriptor, :row) if @tbl_show_group_1_headers %>

  <%# Totals for this member of group 1 (a total for each metric) %>
  <%# This isn't displayed when no group 2 is selected, since the total and %>
  <%# the NULL value are the same, and we display the NULL value %>
  <% if @tbl_show_group_1_totals %>
    <% @composition.metrics.each do |metric| %>
      <%# Don't display a total for this group 1 member if group 2 is not summable for this metric %>
      <% if !@composition.groups[1] || @composition.groups[1]&.summable?(metric) %>
        <% total = @composition.results.get_total(metric, @composition.groups[0], group_1_member_descriptor) %>
        <% min = @composition.results.get_min(metric, @composition.groups[0], group_1_member_descriptor) || 0 %>
        <% max = @composition.results.get_max(metric, @composition.groups[0], group_1_member_descriptor) || 0 %>
        <% range = (max||0) - (min||0) %>
        <% mean = @composition.results.get_arith_mean(metric, group_1_member_descriptor) || 0 %>

        <% title = "Mean: #{number_with_delimiter(mean)}\nMin: #{number_with_delimiter(min)}\nMax: #{number_with_delimiter(max)}\nRange: #{number_with_delimiter(range)}" %>

        <td title="<%= title %>"><%= number_with_delimiter total %></td>
      <% else %>
        <% title = "When grouping by #{@composition.groups[1].dimension}, a total for #{metric.metric} is not displayed. Adding up the #{metric.metric} value for each group does not yield a statistically meaningful number. You should avoid adding these numbers together yourself, as the result likely won't mean what you're expecting." %>

        <td
          title="<%= title %>">

          n/a
        </td>
      <% end %>
    <% end %>
  <% end %>

  <% @meta&.each do |meta| %>
    <% meta_descriptor = @composition.results.group_meta_descriptor(@composition.groups[0], group_1_member_descriptor, meta) %>
    <td><%= meta_descriptor_label(@composition.groups[0], meta_descriptor) %></td>
  <% end %>

  <% @expand_group_2_member_descriptors.each do |group_2_member_descriptor| %>
    <% @composition.metrics.each do |metric| %>
      <%# If this is the nil, and there's no need to show unknowns, skip it %>
      <% next if !group_2_member_descriptor && !@tbl_show_group_2_unknowns %>

      <% value = @composition.results.get_value(metric, group_1_member_descriptor, group_2_member_descriptor) %>

      <td
        data-highlight-metric="<%= metric.metric %>"
        data-highlight-group-1="<%= group_1_member_descriptor || "__nil__" %>"
        data-highlight-group-2="<%= group_2_member_descriptor || "__nil__" %>"
        data-raw-value="<%= value %>">

        <%= number_with_delimiter(value) %>
      </td>
    <% end %>
  <% end %>
</tr>
