<%
  g1 = @composition&.groups&.[](0)
  g2 = @composition&.groups&.[](1)
%>

<tr data-data-explorer--results-table-sort-target="row">
  <%# First cell in the row is a header with the group member name %>
  <%= group_table_header_tag(@composition, g1, group_1_member_descriptor, :row) if @tbl_show_group_1_headers %>

  <% @meta&.each do |meta_field_name| %>
    <% meta_descriptor = @composition.results.group_meta_descriptor(g1, group_1_member_descriptor, meta_field_name) %>
    <td><%= meta_descriptor_label(g1, meta_descriptor) %></td>
  <% end %>

  <%# Totals for this member of group 1 (a total for each metric) %>
  <%# This isn't displayed when no group 2 is selected, since the total and %>
  <%# the NULL value are the same, and we display the NULL value %>
  <% if @tbl_show_group_1_totals %>
    <% @composition.metrics.each do |metric| %>
      <%
        # Don't display a total for this group 1 member if group 2 is not summable for this metric
        if !g2 || g2&.summable?(metric)
          sum = @composition.results.calc_sum(metric, g1, group_1_member_descriptor)
          min = @composition.results.calc_min(metric, g1, group_1_member_descriptor) || 0
          max = @composition.results.calc_max(metric, g1, group_1_member_descriptor) || 0
          range = (max || 0) - (min || 0)
          mean = @composition.results.calc_arithmetic_mean(metric, g1, group_1_member_descriptor) || 0

          total_sum = @composition.results.calc_sum(metric)
          sum_as_percent = ((sum / total_sum.to_f) * 100).round(2)

          title = [
            "Total #{metric.metric} for #{member_label(@composition, g1, group_1_member_descriptor)}: #{number_with_delimiter sum}",
            "#{sum_as_percent}% of overall total",
            "Mean: #{number_with_delimiter(mean)}",
            "Min: #{number_with_delimiter(min)}",
            "Max: #{number_with_delimiter(max)}",
            "Range: #{number_with_delimiter(range)}"
          ].join("\n")

          text = number_with_delimiter sum
        else
          text = "n/a"
          title = "When grouping by #{prop_or_dim_label g2.dimension}, a total for #{metric.metric} is not displayed. Adding up the #{metric.metric} value for each group does not yield a statistically meaningful number. You should avoid adding these numbers together yourself, as the result likely won't mean what you're expecting."
        end
      %>

      <td class="totals" title="<%= title %>"><%= text %></td>
    <% end %>
  <% end %>

  <% @display_group_2_member_descriptors.each do |group_2_member_descriptor| %>
    <% @composition.metrics.each do |metric| %>
      <%# If this is the nil, and there's no need to show unknowns, skip it %>
      <% next if !group_2_member_descriptor && !@tbl_show_group_2_unknowns %>

      <% value = @composition.results.lookup_data_point(metric, group_1_member_descriptor, group_2_member_descriptor) %>

      <% group_1_member_sum = @composition.results.calc_sum(metric, g1, group_1_member_descriptor) %>
      <% percent_of_group_1 = ((value.to_f / group_1_member_sum) * 100).round(2) %>
      <% group_2_member_sum = @composition.results.calc_sum(metric, g2, group_2_member_descriptor) %>
      <% percent_of_group_2 = ((value.to_f / group_2_member_sum) * 100).round(2) %>
      <% total_sum = @composition.results.calc_sum(metric) %>

      <%
        title = [
          "#{metric.metric} for #{member_label(@composition, g1, group_1_member_descriptor)} and #{member_label(@composition, g2, group_2_member_descriptor)}: #{number_with_delimiter value}",
          "#{percent_of_group_1}% of #{member_label(@composition, g1, group_1_member_descriptor)}",
          "#{percent_of_group_2}% of #{member_label(@composition, g2, group_2_member_descriptor)}"
        ].join("\n")
      %>

      <td
        data-data-explorer--results-table-highlight-target="cell"
        data-dx-metric="<%= metric.metric %>"
        data-dx-group-1-member-descriptor="<%= group_1_member_descriptor || "__nil__" %>"
        data-dx-group-2-member-descriptor="<%= group_2_member_descriptor || "__nil__" %>"
        data-dx-data-point="<%= value %>"
        title="<%= title %>">

        <%= number_with_delimiter(value) %>
      </td>
    <% end %>
  <% end %>
</tr>
