<tr>
  <%# First cell in the row is a header with the group member name %>
  <th
    <%= html_attributes("data-raw-member": group_1_member) %>
    scope="row">

    <% label = @composition.results.group_member_label(@composition.groups[0], group_1_member) %>
    <%= Labeler.label(label, @composition.groups[0]) %>
  </th>

  <%# Totals for this member of group 1 (a total for each metric) %>
  <%# This isn't displayed when no group 2 is selected, since the total and %>
  <%# the NULL value are the same, and we display the NULL value %>
  <% if @composition.groups.size > 1 %>
    <% @composition.metrics.each do |metric| %>
      <% if @composition.groups[0].summable?(metric) %>
        <% total = @composition.results.get_total(metric, @composition.groups[0], group_1_member) %>
        <% min = @composition.results.get_min(metric, @composition.groups[0], group_1_member) || 0 %>
        <% max = @composition.results.get_max(metric, @composition.groups[0], group_1_member) || 0 %>
        <% range = max - min %>

        <td title="Min: <%= number_with_delimiter(min) %>&#013;Max: <%= number_with_delimiter(max) %>&#013;Range: <%= number_with_delimiter(range) %>"><%= number_with_delimiter total %></td>
      <% else %>
        <td
          <%= html_attributes(title: "When grouping by #{@composition.groups[0].dimension}, a total for #{metric.metric} is not displayed. Adding up the #{metric.metric} value for each group does not yield a statistically meaningful number. You should avoid adding these numbers together yourself, as the result likely won't mean what you're expecting.") %>>

          n/a
        </td>
      <% end %>
    <% end %>
  <% end %>

  <%# Metrics values for each group 2 member in the current group 1 member%>
  <%# One cell for each metric %>
  <% @composition.results.group_2_unique_members&.each do |group_2_member| %>
    <% @composition.metrics.each do |metric| %>
      <% value = @composition.results.get_value(metric, group_1_member, group_2_member) %>

      <td
        <%= html_attributes("data-highlight-metric": metric.metric, "data-highlight-group-1": group_1_member, "data-highlight-group-2": group_2_member) %>
        <%= html_attributes("data-raw-value": value) %>>
        <%= number_with_delimiter(value) %>
      </td>
    <% end %>
  <% end %>

  <%# Metrics values for the current group 1 member where group 2 is NULL %>
  <%# One cell for each metric %>
  <% if @composition.groups.size < 2 || @composition.metrics.any? { |m| @composition.results.get_value(m, nil, nil) } %>
    <% @composition.metrics.each do |metric| %>
      <% value = @composition.results.get_value(metric, group_1_member, nil) %>

      <td
        <%= html_attributes("data-highlight-metric": metric.metric, "data-highlight-group-1": group_1_member, "data-highlight-group-2": "__nil__") %>
        <%= html_attributes("data-raw-value": value) %>>
        <%= number_with_delimiter(value) %>
      </td>
    <% end %>
  <% end %>
</tr>
