<tr>
  <td></td>

  <% if @composition.groups.size > 1 %>
    <th <%= html_attributes(colspan: @composition.metrics.size) %> scope="colgroup">TOTAL</th>
  <% end %>

  <%# A cell for each metric, for each member of group 2 %>
  <% @composition.results.group_2_unique_members&.each do |group_2_member| %>
    <th
      <%= html_attributes(colspan: @composition.metrics.size) %>
      <%= html_attributes("data-raw-member": group_2_member) %>>

      <% label = @composition.results.group_member_label(@composition.groups[1], group_2_member) %>
      <%= Labeler.label(label, @composition.groups[1]) %>
    </th>
  <% end %>

  <th colspan="<%= @composition.metrics.size %>">UNKNOWN</th>
</tr>
