<tr class="totals">
  <th scope="row">TOTAL</th>

  <% if @composition.groups.size > 1 %>
    <% @composition.metrics.each do |metric| %>
      <% if @composition.groups[0]&.summable?(metric) && @composition.groups[1]&.summable?(metric) %>
        <% total = @composition.results.get_total(metric) %>
        <td><%= number_with_delimiter(total) %></td>
      <% else %>
        <td
          <%= html_attributes(title: "When grouping by #{@composition.groups[0]&.dimension} and #{@composition.groups[1]&.dimension}, a total for #{metric.metric} is not displayed. Adding up the #{metric.metric} value for each group does not yield a statistically meaningful number. You should avoid adding these numbers together yourself, as the result likely won't mean what you're expecting.") %>>

          n/a
        </td>
      <% end %>
    <% end %>
  <% end %>

  <%# A cell for each metric, for each member of group 2 %>
  <% @composition.results.group_2_unique_members&.each do |group_2_member| %>
    <% @composition.metrics.each do |metric| %>
      <% if @composition.groups[1].summable?(metric) %>
        <% total = @composition.results.get_total(metric, @composition.groups[1], group_2_member) %>
        <% min = @composition.results.get_min(metric, @composition.groups[1], group_2_member) %>
        <% max = @composition.results.get_max(metric, @composition.groups[1], group_2_member) %>
        <% range = max - min %>

        <td title="Min: <%= number_with_delimiter(min) %>&#013;Max: <%= number_with_delimiter(max) %>&#013;Range: <%= number_with_delimiter(range) %>"><%= number_with_delimiter total %></td>
      <% else %>
        <td
          <%= html_attributes(title: "When grouping by #{@composition.groups[1].dimension}, a total for #{metric.metric} is not displayed. Adding up the #{metric.metric} value for each group does not yield a statistically meaningful number. You should avoid adding these numbers together yourself, as the result likely won't mean what you're expecting.") %>>

          n/a
        </td>
      <% end %>
    <% end %>
  <% end %>

  <% @composition.metrics.each do |metric| %>
    <% if !@composition.groups[1] || @composition.groups[1]&.summable?(metric) %>
      <% total = @composition.results.get_total(metric, @composition.groups[1], nil) %>
      <td><%= number_with_delimiter total %></td>
    <% else %>
      <td
        <%= html_attributes(title: "When grouping by #{@composition.groups[1]&.dimension}, a total for #{metric.metric} is not displayed. Adding up the #{metric.metric} value for each group does not yield a statistically meaningful number. You should avoid adding these numbers together yourself, as the result likely won't mean what you're expecting.") %>>

        n/a
      </td>
    <% end %>
  <% end %>
</tr>
