<% dim_key = dimension_def["QueryKey"] || dimension_name %>

<%# Look for an existing Filter instance for this dimension – it may not exist %>
<% filter = @composition.filters&.find { |f| f.dimension == dimension_name.to_sym } %>

<style>
  .filters-panel:has(div.filter-added[data-dimension-name="<%= dimension_name %>"]) {
    #add-filter option[value="<%= dimension_name %>"] {
      display: none;
    }
  }
</style>

<%# = html_attributes(class: "active") if filter.try(:valid?) %>
<% classes = ["filter-chooser", "card", "mb-3", "bg-white"] %>
<% classes << "field_with_errors" if filter.try(:invalid?) %>
<% classes << "filter-added" if filter || dimension_name == "podcast_id" %>
<div
  class="<%= classes.join(" ") %>"
  data-data-explorer--composition-url-target="filterChooser"
  data-dimension-name="<%= dimension_name %>"
  data-dimension-key="<%= dim_key %>"
  data-dimension-type="<%= dimension_def["Type"] %>">

  <div class="card-body p-2">
    <div class="d-flex">
      <h3 class="card-title flex-grow-1 mt-1">
        <%= schema_field_label(dimension_name) %>
      </h3>

      <% if dimension_name == "podcast_id" %>
        <input type="hidden" name="<%= "filter.#{dim_key}" %>" value="include">
        Include
      <% else %>
        <select
          name="<%= "filter.#{dim_key}" %>"
          class="
            filter-operator
            form-select
            <%= "field_with_errors" if filter&.errors&.include?(:operator) %>
          ">

          <option></option>
          <option value="include" <%= select_eq filter&.operator == :include %>>Include</option>
          <option value="exclude" <%= select_eq filter&.operator == :exclude %>>Exclude</option>
        </select>

        <button style="border: none; background: none; color: var(--bs-danger);" onclick="event.preventDefault();this.closest('.filter-added').classList.remove('filter-added');">
          <span class="material-icons">delete</span>
        </button>
      <% end %>
    </div>

    <div>
      <% if ["Token"].include? dimension_def["Type"] %>
        <%= render partial: "data_explorer/filter_chooser_token", locals: {filter: filter, dim_key: dim_key, dimension_def: dimension_def} %>
      <% elsif ["Duration"].include? dimension_def["Type"] %>
        <%= render partial: "data_explorer/filter_chooser_duration", locals: {filter: filter, dim_key: dim_key, dimension_def: dimension_def} %>
      <% elsif ["Timestamp"].include? dimension_def["Type"] %>
        <%= render partial: "data_explorer/filter_chooser_timestamp", locals: {filter: filter, dim_key: dim_key, dimension_def: dimension_def} %>
      <% end %>
    </div>
  </div>
</div>
