<fieldset data-data-explorer--results-table-highlight-target="chooser">
  <div class="form-floating input-group mb-3">
    <select
      id="highlight-chooser-scale-selector"
      class="form-select"
      data-data-explorer--results-table-highlight-target="scaleSelector"
      data-action="data-explorer--results-table-highlight#highlight"
      data-controller="slim-select"
      data-ss-opt-allow-deselect="false"
      data-ss-opt-placeholder-text="">

      <option value="log">Log</option>
      <option value="linear">Linear</option>
    </select>

    <label for="highlight-chooser-scale-selector">Scale</label>
  </div>

  <div class="form-floating input-group mb-3">
    <select
      id="highlight-chooser-palette-selector"
      class="form-select"
      data-data-explorer--results-table-highlight-target="paletteSelector"
      data-action="data-explorer--results-table-highlight#highlight"
      data-controller="slim-select"
      data-ss-opt-allow-deselect="false"
      data-ss-opt-placeholder-text="">

      <option value="rainbow">Rainbow</option>
      <option value="monochrome">Monochrome</option>
    </select>

    <label for="highlight-chooser-palette-selector">Palette</label>
  </div>

  <div class="form-floating input-group">
    <select
      id="highlight-chooser-partitions-selector"
      class="form-select"
      data-data-explorer--results-table-highlight-target="partitionsSelector"
      data-action="data-explorer--results-table-highlight#highlight"
      data-controller="slim-select"
      data-ss-opt-allow-deselect="false"
      data-ss-opt-placeholder-text="">

      <option value="">All values</option>

      <% if @composition.try(:metrics) && @composition.metrics.size > 1 %>
        <option value="data-dx-metric">Each metric</option>
      <% end %>

      <%# Partition for each group 1 member. %>
      <%# Always sensible for time series (since there's always intervals) %>
      <%# Also sensible for dimensional when there's a group 2 %>
      <% if @composition.try(:groups)&.[](1) || (@composition.is_a?(Compositions::TimeSeriesComposition) && @composition.try(:groups)&.[](0)) %>
        <option value="data-dx-metric,data-dx-group-1-member-descriptor">
          <% if @composition.try(:metrics) && @composition.metrics.size > 1 %>
            Each metric and <%= schema_field_label(@composition.groups[0].dimension, @composition.groups[0]).downcase %>
          <% else %>
            Each <%= schema_field_label(@composition.groups[0].dimension, @composition.groups[0]).downcase %>
          <% end %>
        </option>
      <% end %>

      <%# Partition for each group 2 member, sensible any time there's a group 2 %>
      <% if @composition.try(:groups)&.[](1) %>
        <option value="data-dx-metric,data-dx-group-2-member-descriptor">
          <% if @composition.try(:metrics) && @composition.metrics.size > 1 %>
            Each metric and <%= schema_field_label(@composition.groups[1].dimension, @composition.groups[1]).downcase %>
          <% else %>
            Each <%= schema_field_label(@composition.groups[1].dimension, @composition.groups[1]).downcase %>
          <% end %>
        </option>
      <% end %>

      <%# Time series-only partitions %>
      <% if @composition.is_a? Compositions::TimeSeriesComposition %>
        <% if @composition&.groups.size > 0 %>
          <option value="data-dx-metric,data-dx-interval-descriptor">
            <% if @composition.try(:metrics) && @composition.metrics.size > 1 %>
              Each metric and <%= @composition.granularity %> interval
            <% else %>
              Each <%= @composition.granularity %> interval
            <% end %>
          </option>
        <% end %>

        <%# When there are any comparions %>
        <% if @composition.comparisons&.size > 0 %>
          <option value="data-dx-metric,data-dx-interval-descriptor,data-dx-comparison-rewind">Amongst interval and comparison</option>
        <% end %>

        <%# It's not impossible to do these highlights when there are comparisons, but visually it %>
        <%# gets a lot more complicated, so punting on them for now %>
        <% if @composition.comparisons&.size == 0 %>
          <% if @composition&.groups.size == 1 %>
            <option value="delta,data-dx-metric,data-dx-group-1-member-descriptor">
              <% if @composition.try(:metrics) && @composition.metrics.size > 1 %>
                Each metric and <%= schema_field_label(@composition.groups[0].dimension).downcase %> 𝚫 over time
              <% else %>
                Each <%= schema_field_label(@composition.groups[0].dimension).downcase %> 𝚫 over time
              <% end %>
            </option>
          <% end %>

          <% if @composition&.groups.size == 2 %>
            <option value="data-dx-metric,data-dx-group-1-member-descriptor,data-dx-group-2-member-descriptor">Amongst group 1+2</option>
            <option value="delta,data-dx-metric,data-dx-group-1-member-descriptor,data-dx-group-2-member-descriptor">Group 1+2 over time</option>
          <% end %>
        <% end %>
      <% end %>
    </select>

    <label for="highlight-chooser-partitions-selector">Partitions</label>
  </div>

  <p class="m-3 mt-4 lh-sm">Cell highlighting can help identify trends or outliers in tables. Depending on the data and the type of analysis you're doing, different options for how the colors and gradients are applied can be useful.</p>
</fieldset>
