<div id="toolbar" class="prx-app-bar navbar p-0 bg-white">
  <nav class="ms-2 nav">
    <% if @composition.memo_valid? && @composition.results %>

      <% if @composition.is_a?(Compositions::TimeSeriesComposition) %>
        <div class="dropdown me-1">
          <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <span class="material-icons" aria-hidden="true">date_range</span> Granularity
          </button>
          <div class="dropdown-menu p-3" style="min-width: 575px;">
            <%= render partial: "data_explorer/time_series/granularity_chooser", locals: {form: form} %>
          </div>
        </div>
      <% end %>

      <% if @composition.is_a?(Compositions::CumeComposition) %>
        <div class="dropdown me-1">
          <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <span class="material-icons" aria-hidden="true">date_range</span> Window
          </button>
          <div class="dropdown-menu p-3" style="min-width: 575px;">
            <%= render partial: "data_explorer/cume/window_chooser", locals: {form: form} %>
          </div>
        </div>
      <% end %>

      <% if @composition.is_a?(Compositions::DimensionalComposition) || @composition.is_a?(Compositions::CumeComposition) %>
        <div class="dropdown me-1">
          <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <span class="material-icons" aria-hidden="true">functions</span> Metrics
          </button>
          <div class="dropdown-menu p-3" style="min-width: 575px;">
            <%= render partial: "data_explorer/dimensional/metrics_chooser" %>
          </div>
        </div>

        <div class="dropdown me-1">
          <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <span class="material-icons" aria-hidden="true">table_chart</span> Groups
          </button>
          <div class="dropdown-menu p-3" style="min-width: 575px;">
            <%= render partial: "data_explorer/dimensional/groups_panel" %>
          </div>
        </div>
      <% end %>

      <% if @composition.is_a?(Compositions::TimeSeriesComposition) %>
        <div class="dropdown me-1">
          <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <span class="material-icons" aria-hidden="true">compare_arrows</span> Comparisons
          </button>
          <div class="dropdown-menu p-3" style="min-width: 300px;">
            <%= render partial: "data_explorer/time_series/comparison_chooser", locals: {form: form} %>
          </div>
        </div>
      <% end %>

      <div class="dropdown me-1">
        <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
          <span class="material-icons" aria-hidden="true">highlight</span> Highlight
        </button>
        <div class="dropdown-menu p-3" style="min-width: 575px;">
          <%= render partial: "data_explorer/highlight_chooser" %>
        </div>
      </div>

      <div class="dropdown me-1">
        <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
          <span class="material-icons" aria-hidden="true">sort</span> Sort
        </button>
        <div class="dropdown-menu p-3" style="min-width: 675px;">
          <% if @composition.instance_of?(Compositions::DimensionalComposition) %>
            <%= render partial: "data_explorer/dimensional/sort_chooser" %>
          <% elsif @composition.instance_of?(Compositions::TimeSeriesComposition) %>
            <%= render partial: "data_explorer/time_series/sort_chooser" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </nav>

  <div class="me-2 my-2">
    <a class="btn btn-sm btn-danger" href="/data-explorer?lens=<%= @composition.lens %>" role="button">
      Reset <span class="material-icons" aria-hidden="true">refresh</span>
    </a>

    <% if @composition.memo_valid? && @composition.results %>
      <a class="btn btn-sm btn-primary" href="#" role="button">
        Save <span class="material-icons" aria-hidden="true">save</span>
      </a>

      <a download class="btn btn-sm btn-primary" href="<%= request.original_url.sub("/data-explorer", "/data-explorer/export") %>" role="button">
        Export <span class="material-icons" aria-hidden="true">file_download</span>
      </a>
    <% end %>

    <input data-bs-toggle="tooltip" data-bs-title="Use Command+Enter to explore quickly" class="btn btn-sm btn-success" type="submit" value="Explore ⌘⏎">
  </div>
</div>
