<%= form_with model: @composition, url: "/", method: :get, id: "data-explorer", data: { controller: "data-explorer--composition-url", action: "data-explorer--composition-url#goto" } do |form| %>
  <div id="global-data-parameters">
    <p><a href="/">Home</a></p>
    <p><a href="/data-explorer"><%= current_user_name %></a></p>

    <%= render "data_explorer/composition_errors" if @composition.invalid? %>
    <%= render "data_explorer/composition_warnings" if @composition.unsafe? %>

    <%= render partial: "data_explorer/range_chooser", locals: {form: form} %>

    <%= render "data_explorer/filters_panel" %>
  </div>

  <div id="lens">
    <div id="lens-data-parameters">
      <fieldset id="lens-type" <%= html_attributes(class: "field_with_errors") if @composition.errors.include?(:lens) %>>
        <legend>Lens Type</legend>

        <% [Compositions::DimensionalComposition, Compositions::TimeSeriesComposition].each do |lens| %>
          <% lens_type = "#{lens.query_value}" %>
          <label for="lens-<%= lens_type %>"><%= lens_type %></label>
          <%# TODO Don't use `params` for `checked` %>
          <input type="radio" name="lens" id="lens-<%= lens_type %>" data-data-explorer--composition-url-target="lens" value="<%= lens_type %>" <%= html_attributes(checked: "checked") if params[:lens] == lens_type %>>
        <% end %>
      </fieldset>

      <fieldset id="granularity">
        <legend>Time Series Options</legend>

        <select name="granularity" data-data-explorer--composition-url-target="granularity">
          <% ["daily", "weekly", "monthly", "quarterly", "yearly", "rolling"].each do |g| %>
            <option <%= html_attributes(selected: "selected") if @composition.try(:granularity).to_s == g %> value="<%= g %>"><%= g %></option>
          <% end %>
        </select>

        <fieldset id="window">
          <%= form.label :window, "Window" %>
          <%= form.text_field :window, name: "window", class: "foo" %>
        </fieldset>
      </fieldset>

      <fieldset
        <%= html_attributes(class: "field_with_errors") if @composition.errors.include?(:metrics) %>
        id="metrics">
        <legend>Metrics</legend>

        <% DataSchema.metrics.each do |metric_name, metric_def| %>
          <% if metric_def["Type"] == "Variable" %>
            <% checked = @composition.try(:metrics) && @composition.metrics.find {|m| m.metric == metric_name.to_sym } %>
            <label><input type="checkbox" value="<%= metric_name %>" <%= html_attributes(checked: "checked") if checked %>> <%= metric_name %></label>
            <% all_variables = @composition.try(:metrics) && @composition.metrics.filter {|m| m.metric == metric_name.to_sym } %>
            <input name="<%= metric_name %>.variables" placeholder="e.g., '7' or '7, 14, 30'" <%= html_attributes(value: (all_variables||[]).map {|m| m.variable}.join(", ")) %>>
          <% else %>
            <% checked = @composition.try(:metrics) && @composition.metrics.find {|m| m.metric == metric_name.to_sym } %>
            <label>
              <input type="checkbox" data-data-explorer--composition-url-target="metric" <%= html_attributes(value: metric_name) %> <%= html_attributes(checked: "checked") if checked %>>
              <%= metric_name %>
            </label>
          <% end %>
        <% end %>
      </fieldset>

      <fieldset id="groups">
        <legend>Groups</legend>

        <% [1,2].each do |i| %>
          <%= render partial: "data_explorer/dimensional/group_chooser", locals: {i: i} %>
        <% end %>
      </fieldset>

      <fieldset id="time-series-compare" data-data-explorer--composition-url-target="compare">
        <legend>Time Series Compare</legend>

        <% compare = @composition.try(:comparisons)&.first %>

        <select name="compare">
          <option></option>

          <% [:WoW, :QoQ, :YoY].each do |p| %>
            <option value="<%= p %>" <%= html_attributes(selected: "selected") if compare.try(:period) == p %>><%= p %></option>
          <% end %>
        </select>

        <input name="compare-lookback" value="<%= compare.try(:lookback) %>">
      </fieldset>

      <fieldset>
        <legend>Display Options</legend>

        Highlight
        <select id="highlight">
          <option></option>
          <option>Total Range (Linear)</option>
          <option>Total Range (Log)</option>
        </select>
      </fieldset>
    </div>

    <div id="results">
      <% if @composition.valid? && @composition.results %>
        <% if @composition.lens == "dimensional" %>
          <%= render "data_explorer/dimensional/results" %>
        <% elsif @composition.lens == "timeSeries" %>
          <%= render "data_explorer/time_series/results" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <input type="submit" value="Explore">
<% end %>
