<p><%= @composition.lens %></p>
<p><%= @composition.from %></p>
<p><%= @composition.abs_from %></p>
<p><%= @composition.to %></p>
<p><%= @composition.abs_to %></p>

<% @composition.filters.each do |filter| %>
<p>
  <%= filter.dimension %>
  <%= filter.values %>
</p>
<% end %>

      <% @composition.valid? %>

      <ul>
        <% @composition.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>

<% @composition.comparisons.each do |comparison| %>
<p>
  <%= comparison.period %>
  <%= comparison.lookback %>
</p>
<% end %>
