<div class="prx-header-bar navbar navbar-dark align-items-stretch p-0 bg-primary-dark">
  <div class="container-fluid align-items-stretch pe-0">
    <header class="flex-grow-1 d-flex align-items-center">
      <%= link_to image_tag("dovetail_logo.svg", width: 152, height: 30, alt: "Dovetail from PRX"), main_app.root_path, class: "navbar-brand d-inline-flex" %>
    </header>

    <nav class="navbar-nav d-none d-md-flex flex-row align-items-stretch">
      <h2 class="visually-hidden">Your Applications</h2>

      <%= link_to("Podcasts", current_user_app("podcasts"), class: "nav-link") if current_user_app?("podcasts") %>
      <%= link_to("Metrics", current_user_app("metrics"), class: "nav-link") if current_user_app?("metrics") %>
      <%= link_to("Inventory", current_user_app("augury"), class: "nav-link") if current_user_app?("inventory") %>
      <%= link_to("Insights", root_path, class: "nav-link active") %>
    </nav>

    <nav class="navbar-nav dropdown">
      <h2 class="visually-hidden">Help Menu</h2>
      <a class="nav-link nav-link-icon dropdown-toggle" href="#" id="nav-help-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="material-icons align-middle">help</span>
      </a>
      <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark position-absolute shadow m-0" aria-labelledby="nav-help-dropdown">
        <%= link_to t(".help"), "https://help.prx.org", class: "dropdown-item" %>
        <%= link_to t(".status"), "https://status.prx.org", class: "dropdown-item" %>
        <%= link_to t(".feedback"), "mailto:dovetail-feedback@prx.org", class: "dropdown-item" %>
        <%= link_to t(".terms"), "https://exchange.prx.org/terms-of-use", class: "dropdown-item" %>
        <%= link_to t(".attribution"), "https://dovetail.prx.org/attribution", class: "dropdown-item" %>
        <%= link_to t(".privacy"), "https://exchange.prx.org/privacy-policy", class: "dropdown-item" %>
        <%= link_to t(".home"), "https://prx.org/", class: "dropdown-item" %>
      </div>
    </nav>

    <% if current_user %>
      <nav class="navbar-nav dropdown user-menu">
        <h2 class="visually-hidden">User Menu</h2>
        <a class="nav-link nav-link-icon dropdown-toggle" href="#" id="nav-user-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="min-width:46px">
          <% if false %>

          <% else %>
            <%#= t(".account") %>
            <span class="material-icons align-middle" aria-label="">account_circle</span>
          <% end %>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark position-absolute shadow pb-2 text-center m-0" aria-labelledby="nav-user-dropdown">
          <div class="h2 py-3 px-4 text-nowrap"><%= current_user_name %></div>
          <%= link_to t(".id"), current_user_id_profile, class: "btn btn-primary-light mb-2" %>
          <% if current_user_admin? %>
            <%= link_to "Insights Admin", admin_root_path, class: "dropdown-item text-primary-light" %>
            <button type="button" class="dropdown-item text-primary-light" data-bs-toggle="modal" data-bs-target="#wildcard-modal">
              Wildcard Access
            </button>
          <% end %>
          <%= link_to t(".reload"), refresh_sessions_path, data: {turbo: false}, class: "dropdown-item text-primary-light" %>
          <%= link_to t(".logout"), logout_sessions_path, data: {turbo: false}, class: "dropdown-item text-primary-light" %>
        </div>
      </nav>
    <% end %>

    <nav class="navbar-nav navbar-expand-md">
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarApps" aria-controls="navbarApps" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <div class="collapse navbar-collapse d-md-none" id="navbarApps" aria-hidden="true">
      <h2 class="visually-hidden">Your Applications</h2>
      <ul class="navbar-nav m-2 mb-lg-0">

        <li class="nav-item">
          <%= link_to t(".augury"), main_app.root_path, class: "nav-link active" %>
        </li>
      </ul>
    </div>

  </div>
</div>

<% if current_user_admin? %>
  <% if current_user_wildcard? %>
    <div class="alert alert-danger m-0 py-2 rounded-0" role="alert">
      Woh, wildcard access!
      <%= link_to "Go back to normal", refresh_sessions_path, data: {turbo: false} %>
    </div>
  <% end %>

  <div class="modal fade" id="wildcard-modal" tabindex="-1" aria-labelledby="wildcard-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="wildcard-modal-label">Wildcard Access</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Get access to everything! Everywhere!
          <br>
          <%= link_to "Total Wildcard!", refresh_sessions_path(wildcard: true), data: {turbo: false} %>
          <br>
          <%= link_to "Just Readonly", refresh_sessions_path(wildcard: "readonly"), data: {turbo: false} %>
        </div>
      </div>
    </div>
  </div>
<% end %>
