<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Insights" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# `:app` comes from propshaft, and is all stylesheets in app/assets/**/*.css %>
    <%# builds/ take precedence over /stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <%# This will add a <script> tag for the importmap generated from %>
    <%# config/importmap.rb, **and** <script> tags for each module that is %>
    <%# pinned in config/importmap.rb %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-turbo="false" data-controller="blank-field" data-bs-theme="light">
    <%= render "layouts/nav" if current_user %>
    <%= render "layouts/subnav" if current_user %>
    <%= render "layouts/alerts" if current_user %>

    <%= yield %>
  </body>
</html>
